[LOCAL]
SECRET_KEY = tu_secreto_seguro_para_produccion
PIALARA_DB_URI = mongodb://db:27017/
PIALARA_DB_NAME = pialara
BUCKET_NAME = pialara
GRADIO_URL = http://localhost:8080/gradio
AWS_ACCESS_KEY_ID = mock_key
AWS_SECRET_ACCESS_KEY = mock_secret
